<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BITCollege_JLContext" connectionString="Data Source=JAKE-LAPTOP\JAKESQLSERVER; Initial Catalog=BITCollege_JLContext; Integrated Security=True;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>